option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "study_app.settings"
    DEBUG: "False"
    SECRET_KEY: "REPLACE_WITH_SECRET_OR_USE_SECRETS_MANAGER"
    ALLOWED_HOSTS: "yourdomain.com"
    DATABASE_URL: "postgres://REPLACE"
    REDIS_URL: "redis://REPLACE:6379/0"
    CELERY_BROKER_URL: "redis://REPLACE:6379/0"
    AWS_STORAGE_BUCKET_NAME: "audio-app-media-481665120229"
    AWS_REGION: "us-east-2"
    GROQ_API_KEY: "REPLACE"
